@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #eff3f5;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #66bbda;
    border-radius: 5px;
}

.form-control:hover {
    background-color: #d1dde4;
}

.signInPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92vh;
}

.signInPart {
    width: 50%;
    box-sizing: border-box;
    padding: 100px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.myAccountSec {
    width: 20%;
    background-color: lightblue;
}

.postsSec {
    width: 50%;
}

.jobPosts {
    width: 25%;
}

.eachPosts{
    width: 290px;
}



.commentsMade {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d1dde4;
    overflow: auto;
}

.profileImgEl {
    border-radius: 50%;
    transition: all 0.2s ease;
}

.myProfileImg {
    border-radius: 50%;
}

.myProfileImg:hover>img {
    opacity: 0.5;
    border-radius: 0;
}

#profilePosts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.commentedPosts {
    width: 200px;
}
.jobDesc{
    position: sticky;
    top: 10px;
    margin: 10px;
    width: 50%;
}

#networkDateSendedText{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    pointer-events: none;
}


.MuiFormControl-root{
    min-width: 70px !important;
}

#dropdownSearhMenu{
    position: absolute;
    top: 44px;
    left: 100px;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
}

#dropdownSearhMenu::before{
    content: '';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    display: inline-block;
    color: #fff;
    top: -6px;
    left: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    line-height: 10px;
    height: 10px;
}

#searchJob{
    transition: all 0.1s ease;
}

#searchJob:hover{
    background-color: #e0f0f6 !important;
}


@media(max-width: 1100px) {
    .signInPage {
        flex-direction: column;
    }

    .signInPart {
        width: 100%;
        padding: 50px;
    }

    .home {
        flex-direction: column;
    }

    .myAccountSec {
        width: 100%;
    }

    .postsSec {
        width: 100%;
    }

    .jobPosts {
        width: 100%;
    }

    #profilePosts {
        flex-direction: column;
    }

    .profile {
        width: 100%;
        text-align: center;
    }

    .myProfileImg {
        left: 50%;
        transform: translateX(-50%);
    }

    .myPosts {
        width: 100%;
    }

    .myLikes {
        width: 100%;
    }

    .myJobPosts {
        width: 100%;
    }

    .eachPosts{
        width: 100% !important;
    }

    .savedPosts {
        width: 100%;
    }

    .eachSavedPost {
        width: 100% !important;
        text-align: left;
    }

    .commentedPosts {
        width: 100%;
    }

    .filters{
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .allJobs{
        flex-direction: column-reverse !important;
    }

    .jobPostBox{
        width: 90% !important;
    }

    .jobs{
        width: 100% !important;
    }
    .jobDesc{
        width: 100% !important;
        position: relative;
    }

    #networkDateSendedText{
        display: none;
    }

    #networkJobDiv:hover{
        background-color: #8cbed0 !important;
    }

    #networkJobDiv:hover > #networkDateSendedText{
        display: inline-block;
        color: #fff !important;
        background-color: #8cbed0 !important;
        font-size: 14px;
        padding: 5px 10px;
    }
}